$violet: #000;
$yellow: #F9C802;
$header: #368254;
$password_header:aliceblue;
$buttons_color: #dddddd;

$phone: 650px;
$tablet: 960px;

$max_main_width: 1024px;

$password_buttons_height: 2rem;
$password_buttons_height_phone: 3rem;