@import "_normalize";
@import "_variables";

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  min-height: 100vh;

  display: grid;
  grid-template-rows: 3rem 1fr 3rem;
}

.button {
  border-radius: 0.6rem;
  min-width: 4.5rem;
  border: none;
  //height: 100%;
  font-size: 1.1rem;
  cursor: pointer;

  @media screen and (max-width: $tablet){
    height: 100%;
    margin-bottom: 0.2rem;
  }

  @media screen and (max-width: $phone){
    height: auto;
    min-width: 8rem;
    margin-bottom: 0;
  }
}

.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main {
  padding: 2rem;
  grid-row: 2;

  margin: 0 auto;
  max-width: $max_main_width;
  width: 100%;

  &__description {
    &--paragraph {
      padding-left: 1rem;
    }
  }
}

.navigation {
  grid-row: 1;
  &__button {
    display: none;
    border: none;
    outline: none;

    position: absolute;
    top: 1rem;
    right: 1rem;

    @media screen and (max-width: $phone) {
      display: block;
    }
  }

  &__item {
    @media screen and (max-width: $phone) {
      margin-bottom: 1rem;
    }
  }

  &__link {
    text-decoration: none;
    color: black;
  }

  &__list {
    display: flex;
    justify-content: space-around;
    list-style: none;

    @media screen and (max-width: $phone) {
      flex-direction: column;
      display: none;

      margin: 0;
      padding: 1rem;
    }
  }
}

.form{
  min-width: 32rem;
  //width: 100%;
  display: flex;
  flex-direction: column;

  &__group{
    margin-bottom: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media screen and (max-width:$phone){
      flex-direction: column;
      align-items: stretch;
    }

    &--notifications{
      justify-content: center;
      flex-direction: row;
    }
  }

  &__input{
    min-width: 18rem;

    &--notifications{
      min-width: auto;
      margin-right: 0.5rem;
    }
  }

  &__submit{
    min-height: 2.5rem;
    min-width: 14rem;
    margin-bottom: 1rem;
  }

  @media screen and (max-width:$phone){
    min-width: 24rem;
  }
}

.footer {
  grid-row: 3;
  display: flex;
  justify-content: center;
  font-size: .8rem;
}

.password {
  border: solid black 0.1rem;
  margin-bottom: 1rem;
  padding: 0; //1rem;
  border-radius: 0.5rem;
  // display: flex;
  // justify-content: space-between;
  // align-items: center;
  display: grid;
  grid-template-columns: 14rem 1fr 17rem;

  &__buttons {
    display: flex;
    justify-content: space-between;

    height: 100%;
    max-height: $password_buttons_height;

    max-width: 15rem;
    width: 100%;

    @media screen and (max-width: $tablet) {
      max-height: 100%;
      flex-direction: column;
      max-width: 10rem;
    }

    @media screen and (max-width: $phone){
      flex-direction: row;
      justify-content: space-around;
      max-width: 100%;
      min-height: $password_buttons_height_phone;
    }
  }

  &__description {
    padding: 1rem;
    margin: 0;
  }

  &__footer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background: lightcoral;

    padding: 1rem;
  }

  &__header {
    background: $password_header;
    margin: 0;
    padding: 1rem;
    font-size: 1.5rem;
    align-items: center;

    @media screen and (max-width: $tablet){
      font-size: 1.2rem;
    }
  }

  @media screen and (max-width: $tablet){
    grid-template-columns: 10rem 1fr 10rem;
  }

  @media screen and (max-width: $phone){
    display: block;
  }
}

.site-header {
  z-index: 10;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;

  background: $header;

  @media screen and (max-width: $phone) {
    min-height: 3rem;
  }
}
